#logo{
    width: 1500px;
}
.footer{
    position: absolute;
    text-align: center;
    vertical-align:bottom;
}
.navbar{
    margin-top: 10px;
}
.container{
    min-height: 300px;
}
@media screen and (max-width: 600px){
    img{
        display: none;
    }
}
