{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Gegevens</h1>
                {{ include('admin/form/klantform.html.twig', {
                    button_text: 'Update!'
                }) }}
            </div>
        
            <div class="col">
                <h1>Les editen</h1>
            </div>


        </div>
    </div>
{% endblock %}