  <footer>
{% block footer %} 
   
        <div id="f">
            <h5 class="font-weight-bold align-middle">Super Nanny Au Pair Services</h5>
            <p>developed by Dedicated-Solutions 2020</p>
        </div>
       {% endblock %}
        </footer>
 </body>
  
    
</html>
