{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <img class="img-fluid" src="img/snaps-img.jpg">
        <div class="col-sm-12">
            
        </div>
    </div>
{% endblock %}